@(room: String, rooms: Iterable[String], playbackToken: String)(implicit request: MaybeAuthenticatedRequest)

@main("mixtape", room, rooms) {
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div class="well sidebar-nav">
        <div id="search">
          <input id="searchterm" type="text" />
        </div>
        <ul id="searchresults" class="nav nav-list">
        </ul>
      </div><!--/.well -->
    </div><!--/span-->
    <div class="span6" id="content">
    </div>

    <div class="span3 well">
      <div id="player">
        <div id="mode">
          <img id="local-playback" src="@routes.Assets.at("images/img/glyphicons_184_volume_up.png")" title="local playback" />
        </div>
        <div id="playing">
          <img class="icon">
          <span class="name"></span>
          <div class="details">
            <a class="trackartist"></a>
          </div>
          <div class="clearfix"></div>
          <div class="progress">
            <div class="bar"></div>
          </div>
          <div id="position"></div>
        </div>

        <div class="rdio"></div>
        <div class="clearfix"></div>
      </div>
      <div id="queue">
      </div>
    </div>
  </div><!--/row-->
  <hr>
  <footer>
    <p>
      <a href="http://github.com/tinystatemachine/mixtape" target="_blank">Mixtape</a> was built by
      <a href="http://twitter.com/state_machine" target="_blank">David</a> using
      <a href="http://developer.rdio.com" target="_blank">the Rdio API</a>,
      <a href="http://playframework.org" target="_blank">Play! Framework</a>,
      <a href="http://twitter.github.com/bootstrap" target="_blank">Bootstrap</a> (obviously), and
      <a href="http://glyphicons.com" target="_blank">Glyphicons</a>.
    </p>
    <p class="debug">
      <img id="playback-master" src="@routes.Assets.at("images/img/glyphicons_032_wifi_alt.png")" title="broadcast playback events" />
      ε <a id="playback-lag" class="clickable" title="resync"></a>
      Δ <span id="total-correction"></a>

    </p>
  </footer>
</div><!--/.fluid-container-->
<script type="text/javascript">
  var ROOM = "@room";
  var RDIOTOKEN = "@playbackToken";
</script>

@helper.javascriptRouter("jsRoutes")(
  routes.javascript.Application.controls,
  routes.javascript.Application.queue,
  routes.javascript.Rdio.artist,
  routes.javascript.Rdio.album,
  routes.javascript.Rdio.search
)
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<script src="@routes.Assets.at("javascripts/rdio.jquery.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/models.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/search.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/queue.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>
}